*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: hsl(0, 0%, 95%);
    margin:50px auto;
    width:80%;
    height: 90vh;
}
 
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-wrap: nowrap;
    margin: auto;
    width:80%;
    height: 80vh;
    border-radius: 5px;
}

.sedans,.suvs,.luxury{
    flex: 33%;
    height: 90%;
    align-items: left;
    text-align: left;
    padding: 0 30px;
}

.sedans{
    background-color:hsl(31, 77%, 52%) ;
}
.suvs{
    background-color:hsl(184, 100%, 22%) ;
}

.luxury{
    background-color:hsl(179, 100%, 13%) ;
}
img{
    margin: 30px 0;
}
h4 {
    text-align: left;
    font-size: 25px;
    margin-bottom: 10px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display';
}
p {
    text-align: left;
    padding: 5px 0;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family:'Lexend Deca', sans-serif;
}
.learnmore-btn{
    border-radius: 20px;
    border:1px solid #fff;
    text-align: center;
    padding: 10px 20px;
    background-color: inherit;
    cursor: pointer;
    margin-top: 10px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family:'Lexend Deca', sans-serif;
}
.grid-layout{
    border-radius: 10px;
    border:1px solid #fff;
    text-align: center;
    padding: 5px;
    background-color:hsl(184, 100%, 22%) ;
    cursor: pointer;
    color:#fff;
    font-family:'Lexend Deca', sans-serif;
    margin: 5px 10px 10px auto;
    
    display: block;
    text-decoration: none;
    width:25%;
}
